/* html {
    min-height: 100%;
} */

body {
    background-image: url("images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center; */
    font-family: Inter;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0px;
    padding: 0px;
}

#container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /* text-align: right; */
    align-items: left;
    /*  */
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */

    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #BABABA; */
}

#container header img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    border-bottom: 1px solid #BABABA;
}

#menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    /* align-items: right; --comentado */
    display: inline-block;
    margin-right: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    /* text-decoration-line: underline; --comentado */
    color: #FFFFFF;

    list-style: none; --comentado
    /* text-align: center; --comentado */
    /* font-family: 'Inter'; --comentado */

    /* margin-bottom: 10px; --comentado */
} 




h1 {
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    /* font-size: 54px; --comentado */
    margin-left: 50px;
} 

h2 {
    text-align: center;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    margin-left: 55px;
}

form {
    display: flex;
    flex-direction: column;

    width: 400px;
    margin-top: 50px;
    /* margin-bottom: 30px; --comentado */
}

form label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
    margin-bottom: 8px;
}

form input {
    background: #7F7F7F;
    border-radius: 25px;

    font-family: 'Inter';
    height: 40px;
    border: 2px solid black;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 40px;
}

form input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 40px;
    display: flex;

    color: #FFFFFF;
}

form input[type="submit"] {
    background-color: #8C77E0;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 150px;
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 320;
    margin-top: 20px;
    color: #121111;
    margin-left: 140px;
}

#provedor {
    background: #8C77E0;
    background: linear-gradient(90deg, #A18CD1 0%, #FBC2EB 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    font-family: 'Inter';
    font-size: 22px;
    font-weight: 320;
    width: 290px;
    margin-top: 20px;
    margin-left: 65px;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
    margin-left: 30px;
}